<template>
  <div>
    <i-form ref="form" :model="formData" :label-width="90" :rules="rules">
<% formSchema.forEach(function(item){-%>
        <FormItem label="<%=item.title%>" prop="<%=item.field%>">
          <<%=item.component ? item.component : 'Input'%>
            v-model="formData.<%=item.field%>"
<% if (item.componentProps) { -%>
<% item.componentProps.forEach(function(prop) {-%>
            <%-prop.colon ? ':' : ''%><%-`${prop.key}="${prop.value}"`%>
<% }) -%>
<% } -%>
           />
        </FormItem>
<%})-%>
    </i-form>
  </div>
</template>

<script>
<% if (!development) { -%>
// 接口
import { add<%= pageNameUpper %>, update<%= pageNameUpper %> } from '@/api/<%= pageNameLower %>';
<% } -%>
/**
 * 初始化表单
 */
function initFormData () {
  return {
<% formSchema.forEach(function(item){-%>
    <%-item.field%>:'',
<%})-%>
  };
};

export default {
  components: {},
  props: {
    formType: {
      type: String,
      default: 'add',
    },
    data: Object,
  },
  data: function() {
    // 表单内容初始化
    let formData = {};
    if (this.formType === 'add') {
      formData = initFormData();
    } else {
      formData = JSON.parse(JSON.stringify(this.data));
    }
    return {
      formData: formData,
      rules: {
<% formSchema.forEach(function(item){-%>
<% if (item.rules) { -%>
        <%-item.field%>:[
<% item.rules.forEach(function(rule) {-%>
          {<% Object.keys(rule).forEach(function(ruleKey) { -%>
<%-rule[ruleKey] ? (`${ruleKey}:`+ (typeof rule[ruleKey] === 'string' ? `'${rule[ruleKey]}'`: rule[ruleKey]) + ',') : ''-%>
<% }) -%>},
<% }) -%>
        ],
<% } -%>
<%})-%>
      },
    };
  },
  computed: {},
  watch: {},
  created: function() {},
  mounted: function() {},
  methods: {
    /**
     * 校验表单
     */
    validateForm() {
      return this.$refs.form.validate();
    },
    /**
     * 提交表单
     */
    submitForm() {
      if (this.formType === 'add') {
        // 新增
        return add<%= pageNameUpper %>({
<% formSchema.forEach(function(item){-%>
          <%-item.field%>: this.formData.<%-item.field%>,
<%})-%>
        }).then((response) => {
          this.$Message.success('创建成功');
          return response;
        });
      } else {
        // 更新
        return update<%= pageNameUpper %>({
          id: this.formData.id,
<% formSchema.forEach(function(item){-%>
          <%-item.field%>: this.formData.<%-item.field%>,
<%})-%>
        }).then((response) => {
          this.$Message.success('更新成功');
          return response;
        });
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>